body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffadad;
}

main {
  display: flex;
  width: 60%;
  justify-content: space-around;
  background-color: #ffdac7;
  border-radius: 4px;
}

.container {
  overflow-y: scroll;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
}

ul.container {
  border: 1px solid black;
  padding: 0;
}

.list-item {
  font-size: 20px;
  padding: 3px 200px 3px 0;
  border: 1px solid rgb(231, 231, 231);
  font-weight: 500;
  font-family: monospace;
}

.inputField {
  padding: 0;
}

.inputField li {
  margin: 10px;
}

.btn {
  background-color: #ffadad;
  background-color: rgb(152, 207, 152);
  padding: 4px 10px;
  cursor: pointer;
  border: none;
}

.refresh {
  background-color: rgb(150, 150, 50);
  border: 1px solid gray;
  padding: 4px 10px;
  cursor: pointer;
}

.name,
.scores {
  padding: 5px;
  border: none;
  border-radius: 3px;
  outline: none;
}

h3 {
  color: #9b992b;
  font-size: 30px;
}

h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}
